<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>news</title>
</head>

<body>
  <div class="header">
    <form class="form-inline search-form js-search-form">
      <div class="form-group">
        <input type="text" class="form-control" name="query">
      </div>
      <button type="submit" class="btn btn-primary">Look for</button>
    </form>
  </div>

  <ul class="news-list js-article-list"></ul>
</body>

<button disabled type="button" class="btn btn-primary button js-btn-load" data-action="load-more">
  <span></span>
  <span class="label">Show more</span>
  <script crs="../js/newsAPI/newsAPI.js" type="module"></script>
  <script crs="../js/newsAPI/news.js" type="module"></script>
</button>

</html>